header {
  grid-area: nav;
  margin-top: 10px;
}
main {
  justify-self: center;
  align-self: center;
  grid-area: main;
  width: 80vw;
  height: 80vh;
}
main:has(.todo) {
  overflow-y: scroll;
}
main::-webkit-scrollbar {
  width: 1vw;
}
main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: capitalize;
}
footer a {
  color: white;
}
.spinner {
  width: 150px;
  height: 150px;
  border: 7px solid ghostwhite;
  border-right-color: #039677;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: spin 1s 0s linear infinite;
  -webkit-animation: spin 1s 0s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  width: 6px;
  height: 6px;
}

.swiper {
  background-color: rgb(194 194 194);
}
@keyframes spin {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text:has(.skeleton) {
  height: 0.5rem;
  margin-bottom: 2rem;
}
.skeleton-text {
  width: 100%;

  border-radius: 0.125rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.error {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  margin-top: 35vh;
}
